<style type="text/css">
#icon
{
    height:1px;
    width:1px;
    background-color:#bbb;
    position:relative;
}
#not
{
    position:absolute;
    /*top:-10px;*/
    /*right:-10px;*/
    background-color:#f00;
    /*width:20px;*/
    /*height:20px;*/
    color:#fff;
    border-radius:20px
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    text-align:center;
    border:2px solid #fff;
}
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Jack Jack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if session['username']|length > 1 %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ session['username'] }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                    <a class="dropdown-item" id="not-link" href="/notifications"><i class="fa fa-bell"></i>  {{session['notifications_count']}} Suggestions</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">{{ session['fullname'] }}</a>
                </div>
            </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
            <select class="form-control mr-sm-2" id="nav-usersearch" style="width:550px">
                </select>
        </div>
        {% endif %}
    </div>
</nav>
<div id='loadingmessage' style='display:none'>
  <img src="{{url_for('static', filename='images/loader.gif')}}"/>
</div>
<style type="text/css">
    #loadingmessage {
        padding-top: 60px;
        height: 550px;
        text-align: center;
    }
</style>