{% extends 'layout.html' %}
{% block body %}
	{% for notification in notifications %}
		{% set problemCode = notification['problemCode'] %}
		{% set contestCode = notification['contestCode'] %}	
		{% set suggestedBy = notification['by'] %}
		<div class="problems-{{problemCode}}-{{contestCode}}" style="border: 1px solid green;padding: 10px;">
			<p>{{ suggestedBy }} suggested the problem {{ problemCode }} from {{ contestCode }} to you. </p>
			<p><a class="btn btn-primary" target="_blank" href="https://www.codechef.com/{{contestCode}}/problems/{{problemCode}}">Go to Problem</a> <a class="btn btn-secondary mark-as-read" data-contest-code="{{contestCode}}" data-problem-code="{{problemCode}}">Mark as Read</a></p>
		</div><br>
	{% endfor %}
<script>
	$(".mark-as-read").click(function() {
		let problemCode = $(this).data('problemCode')
		let contestCode = $(this).data('contestCode')
		$.ajax({
			type: 'POST',
			url: '/notifications/markasread',
			data: {problemCode: problemCode, contestCode: contestCode},
			success: function(data) {
				if(data.status == 'success') {
					$.notify(data.message, 'success');
				} else {
					$.notify(data.message, 'error')
				}
			},
			error: function(data) {

			}
		})
	});
</script>
{% endblock %}
