{% extends 'layout.html' %}
{% block body %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script type="text/javascript">
	Highcharts.chart('container', {
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			type: 'pie'
		},
		title: {
			text: 'Pie chart to show tags for ' + '{{fullname}}',
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '<b>{point.name}</b>: {point.percentage:.1f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				},
				events: {
					click: function(e) {
						let username = window.location.href.split('/')[5];
						let tag = e.point.name;
						window.location.href = '/stats/problems/' + username + '?tag=' + tag
					},					
				}
			}
		},
		series: [{
			name: 'Tags',
			colorByPoint: true,
			data: {{tags | safe}}
		}]
	});		
</script>
<br>
<div style="align-content: center;">
	Click on a tag to see problems solved by {{fullname}}. 
	{% if randomList | length > 0 %}
		You may also be interested in seeing the tags for below profiles also.
	{% endif %}
	<br><br>
	{% for friend, fullname in randomList.items() %}
		<a class="btn btn-primary" href="/stats/tags/{{friend}}">{{fullname}}</a>
		{% for i in range(10) %}
			&nbsp;
		{% endfor%}
	{% endfor %}
</div>
{% endblock %}